
@{
    ViewData["Title"] = "About Page";
}

<div class="">
    <h1>About us</h1>
    <p>Vrund Rugs industry sells the best rug all over the world with best and long lasting materials.</p>
    <p>CEO: Vrund is the founder and CEO of the industry.</p>

    <h2>Corporate Headquarters</h2>
    <p>The headquarter of Vrund Rugs industry is in Abu-Dhabi. Our industry import the finest materials from the Gulf countries.</p>

    <h2>Staff</h2>
    <p>We have a well experienced and creative staff of 200 workers. They do handicraft and give extraordinary designs on the rugs.</p>

    <h2>Product Description</h2>
    <p>
        We use pure expensive camel wool for making rugs. We purify it multiple times and use quality dyes to color it. Our rugs are ordered by the richest people all over
        the world and we also provide option to make rug design as per their demand.
    </p>
</div>

